# Content 
1. Getting Started with Bitbucket
2. Getting started with Python, Anaconda and Jupyter notebook. 
3. Introduction to Python Libraries: Numpy,  Pandas, Matplotlib 
4. Introduction to Skitlearn. 
5. Some Basic Operation with Pandas and Numpy

#### Download course Bitbucket Repo
https://bitbucket.org/dtyu/statistical-learning/src/master/MachineLearningStocks/

### Install Anaconda 
https://www.anaconda.com/products/individual

### Install Python libraries numpy, Pandas, matplotlib 

#### on your terminal (for Mac) command promt (for windows)
##### for numpy use "conda install numpy"   or   "pip install numpy" 
##### for pandas use "conda install pandas"
##### for matplotlib use "conda install -c anaconda matplotlib"
 for any other dependencies or libraries we can use similar technique - just do a google search like "conda install -your desired package" and you will find the codes to run in terminal.

### scikit-learn is a machine learning library for Python. 
conda install -c intel scikit-learn

In [29]:
import numpy as np
import pandas as pd

In [35]:
Auto = pd.read_csv("/Users/ajimuddin/Desktop/Group New Ideas/20200509macro_M.csv")

In [49]:
auto_half = Auto[['ym', 'gind', 'goil']]

In [53]:
Auto

            ym      gind      goil          term   y3m  default      gcpi
0     1/1/1983 -0.022426 -0.078582  1.780000e-15 -0.08    -0.16  0.037076
1     2/1/1983 -0.047422 -0.082700 -1.000000e-02  0.27    -0.21  0.034847
2     3/1/1983 -0.032312  0.011938 -4.800000e-01  0.27    -0.06  0.035903
3     4/1/1983 -0.011795 -0.084903  4.000000e-02 -0.15    -0.10  0.040000
4     5/1/1983  0.001404 -0.165043 -1.000000e-02 -0.01    -0.15  0.034411
..         ...       ...       ...           ...   ...      ...       ...
442  11/1/2019 -0.004110  0.001229  2.100000e-01 -0.11    -0.03  0.020430
443  12/1/2019 -0.008471  0.209208  5.000000e-02  0.00    -0.01  0.022921
444   1/1/2020 -0.009404  0.119502 -8.000000e-02 -0.02    -0.04  0.024827
445   2/1/2020  0.000172 -0.080255 -2.500000e-01 -0.01     0.00  0.023181
446   3/1/2020 -0.054865 -0.497678  6.100000e-01 -1.24     0.44  0.015183

[447 rows x 7 columns]

In [68]:
Auto.set_index('ym', inplace = True)

KeyError: "None of ['ym'] are in the columns"

In [70]:
#convert pandas to numpy array and vice varca. 
Auto_np = Auto.values

In [73]:
Auto

               gind      goil          term   y3m  default      gcpi
ym
1/1/1983  -0.022426 -0.078582  1.780000e-15 -0.08    -0.16  0.037076
2/1/1983  -0.047422 -0.082700 -1.000000e-02  0.27    -0.21  0.034847
3/1/1983  -0.032312  0.011938 -4.800000e-01  0.27    -0.06  0.035903
4/1/1983  -0.011795 -0.084903  4.000000e-02 -0.15    -0.10  0.040000
5/1/1983   0.001404 -0.165043 -1.000000e-02 -0.01    -0.15  0.034411
...             ...       ...           ...   ...      ...       ...
11/1/2019 -0.004110  0.001229  2.100000e-01 -0.11    -0.03  0.020430
12/1/2019 -0.008471  0.209208  5.000000e-02  0.00    -0.01  0.022921
1/1/2020  -0.009404  0.119502 -8.000000e-02 -0.02    -0.04  0.024827
2/1/2020   0.000172 -0.080255 -2.500000e-01 -0.01     0.00  0.023181
3/1/2020  -0.054865 -0.497678  6.100000e-01 -1.24     0.44  0.015183

[447 rows x 6 columns]

In [72]:
Auto.shape

(447, 6)

In [74]:
Auto_np.shape

(447, 6)

In [77]:
pd.DataFrame(Auto_np, columns =Auto.columns, index = Auto.index )

               gind      goil          term   y3m  default      gcpi
ym
1/1/1983  -0.022426 -0.078582  1.780000e-15 -0.08    -0.16  0.037076
2/1/1983  -0.047422 -0.082700 -1.000000e-02  0.27    -0.21  0.034847
3/1/1983  -0.032312  0.011938 -4.800000e-01  0.27    -0.06  0.035903
4/1/1983  -0.011795 -0.084903  4.000000e-02 -0.15    -0.10  0.040000
5/1/1983   0.001404 -0.165043 -1.000000e-02 -0.01    -0.15  0.034411
...             ...       ...           ...   ...      ...       ...
11/1/2019 -0.004110  0.001229  2.100000e-01 -0.11    -0.03  0.020430
12/1/2019 -0.008471  0.209208  5.000000e-02  0.00    -0.01  0.022921
1/1/2020  -0.009404  0.119502 -8.000000e-02 -0.02    -0.04  0.024827
2/1/2020   0.000172 -0.080255 -2.500000e-01 -0.01     0.00  0.023181
3/1/2020  -0.054865 -0.497678  6.100000e-01 -1.24     0.44  0.015183

[447 rows x 6 columns]

In [27]:
# Auto.drop('Unnamed: 0', axis = 1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10